{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ .Title }}</h1>
    </div>
  </div>

  <div class="row m-t-1">
    <div class="col-sm-12">
      {{ .Params.soustitre | markdownify }}
    </div>
  </div>

  <!-- Calendrier -->
  {{ if isset .Params "calendrier" }}
  <dl class="row m-t-2">
    {{ range .Params.calendrier  }}
    <dt class="col-sm-6 text-sm-right">{{ .cal | safeHTML }}</dt>
    <dd class="col-sm-6">{{ .lieu | safeHTML }}</dd>
    {{ end }}
  </dl>
  {{ end }}
  {{ if isset .Params "calendriernotes" }}
  <div class="row m-t-2">
    <div class="col-md-12">
      {{ .Params.calendriernotes | markdownify }}
    </div>
  </div>
  {{ end }}
  <hr>
  <!-- Résumé -->
  <div class="row m-t-2">
    <div class="col-md-12">
      {{ .Content }}
    </div>
  </div>

  <!-- Presse -->
  {{ if isset .Params "presse" }}
  <div class="row m-t-2">
    <div class="col-md-12">
      <!-- Carousel -->
      <div id="carousel-presse" class="carousel carousel-text slide" data-ride="carousel" data-interval="7000">
        <div class="carousel-inner" role="listbox">
          {{ range first 1 .Params.presse  }}
          <div class="carousel-item active">
            <div class="carousel-content">
              <blockquote class="blockquote"><p>{{ .extrait }}</p>
                <footer class="blockquote-footer">{{ .quote }}, <i>{{ .journal }}</i></footer>
              </blockquote>
            </div>
          </div>
          {{ end }}
          {{ range after 1 .Params.presse  }}
          <div class="carousel-item">
            <div class="carousel-content">
              <blockquote class="blockquote"><p class="m-b-0">{{ .extrait }}</p>
                <footer class="blockquote-footer">{{ .quote }}, <i>{{ .journal }}</i></footer>
              </blockquote>
            </div>
          </div>
          {{ end }}
        </div>

        <!-- carousel controls -->
        <a class="left carousel-control" href="#carousel-presse" role="button" data-slide="prev">
          <span class="icon-prev" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-presse" role="button" data-slide="next">
          <span class="icon-next" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  {{ end }}


  <!-- Video -->
  {{ if isset .Params "video" }}
  <div class="embed-responsive embed-responsive-16by9 m-t-2">
    <iframe src="https://player.vimeo.com/video/{{ .Params.video }}" width="640" height="360" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  {{ end }}

  <!-- Generique -->
  <div class="row m-t-2">
    <div class="col-md-12">
      {{ .Params.generique | markdownify }}
    </div>
    {{ if isset .Params "prod" }}
    <div class="col-md-12 m-t-1 small">
      {{ .Params.prod | markdownify }}
    </div>
    {{ end }}
  </div>

  <!-- Download -->
  <div class="row m-t-2">
    <div class="col-md-12">
      <ul class="list-inline">
        <li class="list-inline-item"><b>Téléchargements :</b></li>
        {{ if isset .Params "dossier" }}
          <li class="list-inline-item"><a href="{{ .Params.dossier }}">Dossier de présentation</a></li>
        {{ end }}
        {{ if isset .Params "revuedepresse" }}
          <li class="list-inline-item"><a href="{{ .Params.revuedepresse }}">Revue de presse</a></li>
        {{ end }}
      </ul>
    </div>
  </div>

  <!-- Tous les spectacles -->
  <div class="row m-t-3">
    <div class="col-md-12">
      <hr>
      <p>Tous les spectacles :</p>
      <ul class="list-unstyled">
        {{ range where .Site.Pages "Type" "spectacle" }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ if isset .Params "info" }}
            <span class="tag tag-default m-l-1">{{ .Params.info }}</span>
          {{ end }}
        </li>
        {{ end }}
    </ul>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
