<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="navbar">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <div class="nav navbar-nav">
        <a class="nav-item nav-link" href="/compagnie/">Compagnie</a>
        <a class="nav-item nav-link" href="/spectacle/">Spectacles</a>
        <a class="nav-item nav-link" href="/actions-culturelles/">Actions culturelles</a>
        <a class="nav-item nav-link" href="/presse-media/">Presse/Media</a>
        <a class="nav-item nav-link" href="/contact/">Contact</a>
    </div>
  </div>
</nav>
