<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
  <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-sm" id="navbar">
    <a class="navbar-brand hidden-sm-down" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <ul class="nav navbar-nav">
      <li class="nav-item active hidden-md-up">
        <a class="nav-link" href="{{ .Site.BaseURL }}">Les Échappés Vifs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/compagnie/">Compagnie</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/spectacles/">Spectacles</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/actions-culturelles/">Actions culturelles</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/presse-media/">Presse/Media</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/contact/">Contact</a>
      </li>
    </ul>
  </div>
</nav>
