{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<div class="container-fluid container-logo bg-primary">
  <div class="row">
    <div class="col-md-6 logo m-t-2">
      <img src="{{ .Site.Params.logo }}" alt="" class="img-fluid">
    </div>
  </div>
</div>

<div class="container m-t-2">
  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-lg btn-primary" href="#agenda" data-toggle="collapse">Agenda 2016-17</a>
      <div class="collapse m-t-1" id="agenda">
        <div class="card card-block">
          {{ range where .Site.Pages.ByWeight.Reverse "Type" "spectacles" }}
            {{ if isset .Params "calendrier" }}
            <div class="row">
              <a href="{{ .RelPermalink }}">
                <h3 class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12 m-t-2">{{ .Title }}</h3>
              </a>
            </div>
            <dl class="row">
              {{ range .Params.calendrier  }}
              <dt class="col-sm-4 col-md-4 col-lg-4 offset-md-1 offset-lg-1">{{ .cal | safeHTML }}</dt>
              <dd class="col-sm-8 col-md-7 col-lg-7">{{ .lieu | safeHTML }}</dd>
              {{ end }}
            </dl>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <div class="row m-t-1">
    {{ range where .Site.Pages.ByWeight.Reverse "Type" "spectacles" }}
      {{ if isset .Params "info" }}
        <div class="col-md-6 m-t-1">
          <div class="card card-inverse">
            <a href="{{ .Permalink }}">
              <img class="card-img img-fluid" src="/img/{{ .Params.img }}" alt="Card image">
              <div class="card-img-overlay">
                <h4 class="card-title">{{ .Title }}</h4>
                 <p class="card-text"><span class="tag tag-default">{{ .Params.info }}</span></p>
              </div>
            </a>
          </div>
        </div>
      {{ end }}
    {{ end }}
  </div>
  <div class="row m-t-2 m-b-2">
    <div class="col-md-12 text-md-right">
      <a class="btn btn-lg btn-primary" href="/spectacles/">Tous les spectacles</a>
    </div>
  </div>
  <!-- <hr>
  <div class="row">
    <div class="col-md-4 m-b-2">
      <h2>La compagnie</h2>
      <a href="/compagnie/">Plus d'infos</a>
    </div>
    <div class="col-md-4 m-b-2">
      <h2>Actions culturelles</h2>
      <a href="/actions-culturelles/">Plus d'infos</a>
    </div>
    <div class="col-md-4 m-b-2">
      <h2>Presse/media</h2>
      <a href="/presse-media/">Plus d'infos</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h2>Contact</h2>
      <a href="/contact/">Nous contacter</a>
    </div>
  </div> -->

</div>

{{ partial "footer.html" . }}
