{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<div class="container">
  <div class="row m-t-1">
    <div class="col-md-12">
      <h1>Tous les spectacles</h1>
    </div>
    {{ range where .Site.Pages.ByWeight.Reverse "Type" "spectacle" }}
        <div class="col-md-6">
          <div class="card card-inverse">
            <a href="{{ .Permalink }}">
              <img class="card-img img-fluid" src="/img/{{ .Params.img }}" alt="{{ .Title }}">
              <div class="card-img-overlay">
                <h4 class="card-title">{{ .Title }}</h4>
                  {{ if isset .Params "info" }}
                  <p class="card-text"><span class="tag tag-default m-l-1">{{ .Params.info }}</span></p>
                  {{ end }}
              </div>
            </a>
          </div>
        </div>
    {{ end }}
  </div>
</div>

{{ partial "footer.html" . }}
